server:
  port: {{ hostvars[inventory_hostname]['port'] }}

spring:
  datasource:
    initialize: true
    url: jdbc:sqlserver://{{ hostvars[inventory_hostname]['database_host'] }};databaseName={{ hostvars[inventory_hostname]['database_name'] }}
    username: {{ hostvars[inventory_hostname]['database_username'] }}
    password: {{ hostvars[inventory_hostname]['database_userpass'] }}
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
  rabbitmq:
    host: {{ hostvars[groups['haproxy'][0]]['virtual_ip']  }}
    port: {{ hostvars[groups['rabbitmq'][0]]['port'] }}

eureka:
  client:
    serviceUrl:
      defaultZone: http://{{ hostvars[groups['corvus_registry'][0]]['ansible_default_ipv4']['address'] }}:{{ hostvars[groups['corvus_registry'][0]]['port'] }}/eureka/
