#jinja2: trim_blocks:False
server:
  port: {{ hostvars[inventory_hostname]['port'] }}
spring:
  datasource:
    initialize: true
    url: jdbc:jtds:sqlserver://{{ hostvars[inventory_hostname]['database_host'] }}:{{ hostvars[inventory_hostname]['database_port'] }}/{{ hostvars[inventory_hostname]['database_name'] }}
    username: {{ hostvars[inventory_hostname]['database_username'] }}
    password: {{ hostvars[inventory_hostname]['database_userpass'] }}
  redis:
    cluster:
      nodes: {% for host in groups['redis'] -%} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ hostvars[host]['port'] }}{% if not loop.last %},{% endif %} {%- endfor %}
    sentinel: 
      master: {{ hostvars[groups['redis'][0]]['sentinel_master'] }}
      nodes: {% for host in groups['redis'] -%} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ hostvars[host]['sentinel_port'] }}{% if not loop.last %},{% endif %} {%- endfor %}
    port: {{ hostvars[groups['redis'][0]]['port'] }}
  rabbitmq:
    host: {{ hostvars[groups['haproxy'][0]]['virtual_ip'] }}
    port: {{ hostvars[groups['rabbitmq'][0]]['port'] }}

seagull:
  endpoint: {{ SEAGULL_SERVER_ADDRESS }}
  callback:
    endpoints: ws://{{ hostvars[groups['haproxy'][0]]['virtual_ip'] }}:3015
  db: {{ SEAGULL_ACTIVE_DB }}
photos:
  location: {{ hostvars[inventory_hostname]['photos_location'] }}
reports:
  location: {{ hostvars[inventory_hostname]['reports_location'] }}

eureka:
  client:
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://{{ hostvars[groups['corvus_registry'][0]]['ansible_default_ipv4']['address'] }}:{{ hostvars[groups['corvus_registry'][0]]['port'] }}/eureka/
